<!DOCTYPE html>
<html id="nhl">
  <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="../style.css" >

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="../index.html">NHL STATS TRACKER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="game.html">Game Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="league.html">League Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="team.html">Team Stats</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="season.html">Season Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="season_sum.html">Seasonal Summary</a>
          </li>
        </ul>
      </div>
    </nav>
    <h3>Season Stats</h3>
    <p>Biggest bust(2013-2014): <%= @stat_tracker.biggest_bust('20132014')  %></p>
    <p>Biggest surprise(2013-2014): <%= @stat_tracker.biggest_surprise('20132014')   %></p>
    <p>Winningest coach: <%= @stat_tracker.winningest_coach('20122013')   %></p>
    <p>Worst coach: <%= @stat_tracker.worst_coach('20122013')   %></p>
    <p>Most accurate team: <%= @stat_tracker.most_accurate_team('20122013')   %></p>
    <p>Least accurate team: <%= @stat_tracker.least_accurate_team('20122013')  %></p>
    <p>Most hits: <%= @stat_tracker.most_hits('20122013')   %></p>
    <p>Fewest hits: <%= @stat_tracker.fewest_hits('20122013')  %></p>
    <p>Power play goal %: <%= @stat_tracker.power_play_goal_percentage('20122013')  %></p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </body>
</html>
