<!DOCTYPE html>
<html>
  <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="../style.css" >

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand active" href="../index.html">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <h3>Team Stats</h3>
    <p>Team Info: <%= @stat_tracker.team_info("6") %></p>
    <p>Best season: <%= @stat_tracker.best_season("6")  %></p>
    <p>Worst season: <%= @stat_tracker.worst_season("6")  %></p>
    <p>Average win %: <%= @stat_tracker.average_win_percentage("6")  %></p>
    <p>Most goals scored: <%= @stat_tracker.most_goals_scored("6")  %></p>
    <p>Fewest goals scored: <%= @stat_tracker.fewest_goals_scored("6")  %></p>
    <p>Favorite opponent: <%= @stat_tracker.favorite_opponent("6")  %></p>
    <p>Rival: <%= @stat_tracker.rival("6")  %></p>
    <p>Biggest team blowout: <%= @stat_tracker.biggest_team_blowout("6")  %></p>
    <p>Worst loss: <%= @stat_tracker.worst_loss("6")  %></p>
    <p>head to head: <%= @stat_tracker.head_to_head("6")  %></p>
  </body>
</html>
